@import "../../sass/variables";

.showcase {
  height: 100vh;
  background: linear-gradient(
    30deg,
    rgba(21, 21, 24, 1) 0%,
    rgba(37, 36, 61, 1) 90%
  );

  &__container {
    display: flex;
    height: 100%;
  }

  &__content-container {
    flex-basis: 50%;
    padding: 15% 4rem;

    h1 {
      color: white;
      font-size: 6rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.1rem;

      span {
        color: $primary-color;
      }
    }

    p {
      margin: 4rem 0;
      color: white;
      font-weight: 100;
      letter-spacing: 0.1rem;
    }

    button {
      padding: 1.5rem 4rem;
      border: none;
      border-radius: 0.5rem;
      background-color: transparent;
      border: 0.2rem solid $primary-button;
      color: white;
      font-size: 1.6rem;
      font-weight: 100;
      letter-spacing: 0.1rem;
      cursor: pointer;

      &:hover {
        border-color: whitesmoke;
      }
    }
  }

  &__graphic-container {
    flex-basis: 50%;
    padding: 5% 0;

    img {
      width: 100%;
    }
  }
}
