/* -------------------THEME COLORS-------------------- */

$primary-color: #786cfe;

/* -------------------BUTTON COLORS------------------- */
$primary-button: #786cfe;
$primary-button-dark: #695bfe;
